app-select {
  color: #A2A1A1;
  cursor: pointer;
}

.editor {
  margin-left: 200px;
  width: calc(100vw - 200px);
}

.sidenav {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgba(30, 30, 30, 0.35);
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 9999999999;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.traductor {
  float: left;
  height: 100vh;
  width: 87vw ;
}
.desk{
  left:0px;
}
.oculta{
  left:-210px !important;
}
.visible{
  left:0 !important;
}
@media only screen and (max-width: 500px){
  .sidenav{
    left: -200px;
  }
  .editor{
    margin-left: 0px;
    width: 100%;
  }
  .traductor{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-height: 450px) {
  .sidenav{
    left: -200px;
    padding-top: 15px;
  }
  .editor{
    margin-left: 0px;
    width: 100%;
  }
  .traductor{
    display: flex;
    flex-direction: column;
  }
  .sidenav a {
    font-size: 18px;
  }
}
