.notifica{
    background-color: #FF0000;
    border: 1px solid #AA3939;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(50, 50, 50, 0.35);
    box-sizing: border-box;
    color: #ffffff;
    font-size: 20px;
    height: 60px;
    margin: auto;
    position: fixed;
    right: 25px;
    text-align: center;
    top: 15px;
    width: 60px;
    z-index: 9;
}

.notifica.show {
    background-color: #16d145;
    border: 1px solid #2D882D;
}

.icon{
    line-height: 60px;
    font-size: 30px;
}